
footer{
    margin-top: 3vw;
    display: flex;
    height: 15vw;
    background-color: var(--bolder-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
    font-weight: bold;
}
