:root {
    --bolder-color: #004482;
    --standard-color: #649ad2;
    --green-code: #48fa30;
  }

footer{
    margin-top: 3vw;
    display: flex;
    height: 15vw;
    background-color: var(--standard-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
    font-weight: bold;
}
