<header class="header">
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav id="menu" class="nav">
      <div class="nav-group">
        <a href="/pages/logica.html">Lógica de Programação</a>
        <a href="/pages/logica.html">Introdução à Programação em C</a>
        <a href="/pages/tipodados.html">Tipos de Dados e Variáveis</a>
        <a href="/pages/opeexps.html">Operadores e Expressões</a>
        <a href="/pages/condicionais.html">Estruturas Condicionais</a>
      </div>
      <div class="nav-group">
        <a href="#">Estruturas de Repetição</a>
        <a href="#">Entrada e Saída de Dados</a>
      </div>
    </nav>
  </header>

  <div class="sep"></div>
  