.code {
  background-color: #000;
  width: 60vw;
  margin: 0.5%;
  border: 2px solid var(--green-code);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Consolas", monospace;
  color: #f1f1f1;
  line-height: 1.6em;
  text-align: left;
}
  
.code > p, .code > h4 {
  margin: 0;
  text-align: left;
}

.code h4 {
  color: var(--green-code);
  font-weight: 600;
  font-size: 2em;
}

.code ol, .code ul {
  list-style-type: none;
  margin: 0;
  padding-left: 2em;
}

comment {
  background-color: var(--green-code);
  color: black;
  font-style: italic;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}

hl {
  color: var(--green-code);
}

li {
  padding: 0px 0px 0px 10px;
  margin: 0px;
  line-height: 1.8em;
}

/* ===================================================== */

h4 {
  padding: 5px;
}