*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

:root {
    --bolder-color: #004482;
    --standard-color: #649ad2;
    --green-code: #97d0ff;
  }

  