@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

p {
  margin: 0% 10% 0% 10%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

/* MAIN CONTENT */
.main-content {
  min-height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.main-content h1 {
  font-size: 5vw;
  margin-bottom: 1rem;
}

.arrow {
  width: 6vw;
}

/* BOTÃO E IMAGEM */
.main-btn {
  text-align: center;
  margin-top: 0.2rem;
  position: relative;
  width: 100vw;
  
}

.main-btn button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: var(--bolder-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  max-width: 90%;
  width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid white;
}

.main-btn button:hover{
  background-color: var(--standard-color);
  transition: 1s;
}

.main-img {
  max-width: 90%;
  width: 80%;
  height: auto;
  margin-top: 2rem;
}

.sobre{
  margin: 3vw 0 3vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25vw;
}

.sobre h1{
  text-align: center;
  font-size: 3vw;
  padding-bottom: 1vw;
}

.sobre h3{
  padding-bottom: 1.3vw;
  text-align: center;
  font-size: 1.5vw;
  color: #AFADB5;
  font-weight: 300;
}

.sobre button, .btn-sobre{
  background-color: var(--bolder-color);
  color: white;
  width: 20vw;
  border: none;
  padding: 1vw;
  font-size: 100%;
  font-weight: bold;
}

.btn-sobre:hover{
  transform: scale(1.1);
  transition: 0.3s;

}

/* RESPONSIVO PARA TELAS PEQUENAS */
@media (max-width: 768px) {
  .main-content h1 {
      font-size: 6vw;
  }


  .main-btn button {
      font-size: 1.2rem;
      width: 90%;
  }


  .arrow {
      width: 8vw;
  }
}


