/* --------------- AQUI É O PADRÃO DO CSS DE TODAS AS PÁGINAS DE CONTEÚDO, PODE COPIAR E COLAR -------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

  p{
    color: #88878b;
    font-size: 1.5vw;
    text-align: center;
    margin: 0% 10% 0% 10%;
  }

  h1{
    font-size: 4vw;
    text-align: center;
  }

  h2{
    margin-top: 4vw;
    font-size: 3vw;
    text-align: center;
  }

  h3{
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
  }

  /* --------------- ATÉ AQUI  -------------- */

  /*----------- TEXTOS PRINCIPAIS DA PÁGINA + CONTAINERS ------------*/

  .intro{
    height: 10vw;
    width: 100%;
    text-align: center;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .variable-types{
    text-align: center;

  }

  /*------------ CARDS TIPOS DE VARIÁVEIS ----------*/

  .card-row{
    margin-top: 5vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 4vw;
  }

.card {
  display: flex; 
  flex-direction: column; 
  
  width: 272px;
  height: 280px;
  box-shadow: 2px 7px 44px 0px rgba(0,0,0,0.2);
  overflow: hidden; 
  
  border-color: #000000;
}
.card-body{
  background-color: #fffcfc;
  flex-grow: 1;
  padding: 24px; 
}

.card-title{
  color: var(--standard-color);
  font-weight: bold;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0px; 
  padding: 0px; 
   
}
.card-text{
  line-height: 1.4;
  margin: 10px 0px 0px 0px; 
  font-size: 15px;
  color: #afadb5;
  
}


/*--------- IMAGEM FLUTUANTE -------- */

  .floating-container {
    margin-top: 5vw;
    position: relative;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;

}

.floating-image {
    width: 40%;
    height: auto;
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}