body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

/* MAIN CONTENT */
.main-content {
  min-height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.main-content h1 {
  font-size: 5vw;
  margin-bottom: 1rem;
}

.arrow {
  width: 6vw;
}

/* BOTÃO E IMAGEM */
.main-btn {
  text-align: center;
  margin-top: 2rem;
}

.main-btn button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: #518581;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  max-width: 90%;
  width: 400px;
  margin-bottom: 2rem;
}

.main-img {
  max-width: 90%;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 10px;
}

/* RESPONSIVO PARA TELAS PEQUENAS */
@media (max-width: 768px) {
  .main-content h1 {
      font-size: 6vw;
  }

  .main-btn button {
      font-size: 1.2rem;
      width: 90%;
  }

  .arrow {
      width: 8vw;
  }
}
